@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-4%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(4%);
  }
}

@keyframes scale-up {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
    color: var(--clr-secondary);
  }
}
