@use '@/styles/abstracts' as *;

.box {
  position: fixed;
  inset: 0 0 auto 15rem;
  z-index: 5;
  height: px-to-rem-or-em(60px);
  border-bottom: 1px solid lighten(black, 80%);
  background-color: rgba(225, 231, 239, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-end: px-to-rem-or-em(10px);
}

.name {
  background-color: lighten(blue, 40%);
  color: var(--clr-black);
  border-radius: var(--radius-xtra-small);
  font-size: var(--fs-large);
  font-weight: 500;
  padding-inline: px-to-rem-or-em(10px);

  span {
    text-transform: capitalize;
  }
}
