@use '@/styles/abstracts' as *;

.form {
  --flow-space: 1.2rem;
  padding-block-start: px-to-rem-or-em(30px);
  width: 30%;
  margin-inline: auto;

  button {
    width: 100%;
    height: px-to-rem-or-em(40px);
    color: var(--clr-primary);

    &:is(:focus, :focus-visible) {
      outline: 0;
    }
  }

  &:invalid {
    button {
      opacity: 0.2;
      cursor: not-allowed;
    }
  }

  &:valid [type='submit'] {
    background-color: lighten(green, 10%);

    @include hover() {
      &:hover {
        background-color: lighten(green, 5%);
      }
    }
  }
}
.formField {
  position: relative;

  input + span {
    position: absolute;
    top: 35px;
    right: 10px;
    color: lighten(black, 50%);
    cursor: pointer;
  }

  label {
    color: lighten(black, 30%);

    &::after {
      content: '*';
      color: lighten(red, 10%);
    }
  }

  input {
    width: 100%;
    height: px-to-rem-or-em(40px);
    border: 2px solid lighten(black, 70%);
    border-radius: var(--radius-xtra-small);
    padding: px-to-rem-or-em(2px);
    caret-color: lighten(black, 30%);
    background-color: #e8f6f3;

    &:where(:focus, :focus-visible) {
      outline: none;
      border-color: var(--clr-accent-primary);
    }
  }

  .errorMessage {
    margin-top: 0.3rem;
    color: lighten(red, 10%);
    display: none;
    pointer-events: none;
    font-size: px-to-rem-or-em(14px);
  }

  input:invalid:not(:placeholder-shown) {
    border-color: lighten(red, 30%);

    ~ .errorMessage {
      display: block;
      pointer-events: all;
    }
  }
}
