@use '@/styles/abstracts' as *;

.patientImg {
  border-radius: var(--radius-round);
}

.info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  place-content: center;
  gap: var(--space-medium);
}

.infoDetails {
  display: flex;
  flex-direction: column;
  gap: var(--space-xtra-small);
  border-left: 3px solid lighten(black, 20%);
  padding-inline-start: px-to-rem-or-em(30px);
}

.username {
  font-size: var(--fs-large);
  font-weight: 700;
  margin-block-start: px-to-rem-or-em(15px);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editButton {
  display: flex;
  align-items: center;
  gap: var(--space-xtra-small);
  background-color: rgba(orange, 0.4);
  color: var(--clr-secondary);

  &:hover {
    background-color: rgba(orange, 0.3) !important;
  }
}
