@use '../../../styles/abstracts' as *;

.list {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-large);
}

.container {
  padding: px-to-rem-or-em(10px);

  h1 {
    box-shadow: var(--shadow-medium);
    border-radius: var(--radius-xtra-small);
    padding: px-to-rem-or-em(20px) px-to-rem-or-em(10px);
    text-align: center;
  }
}

.form {
  --flow-space: 1.5rem;
  padding-block-start: px-to-rem-or-em(30px);
  width: 30%;
  margin-inline: auto;
}

.formField {
  position: relative;

  label {
    color: var(--clr-secondary);
  }

  input {
    width: 100%;
    background-color: #e8f6f3;
    height: px-to-rem-or-em(35px);
    border: 2px solid lighten(black, 70%);
    border-radius: var(--radius-xtra-small);
    padding: px-to-rem-or-em(2px);
    caret-color: lighten(black, 30%);
  }

  span {
    position: absolute;
    top: 35px;
    right: 10px;
    color: lighten(black, 50%);
    cursor: pointer;
  }
}
