@use './functions' as *;

$breakpoints: (
  xs: px-to-rem-or-em(200px, em),
  sm: px-to-rem-or-em(450px, em),
  md: px-to-rem-or-em(768px, em),
  lg: px-to-rem-or-em(1024px, em),
  xl: px-to-rem-or-em(2000px, em),
);
