@use '../../../styles/abstracts' as *;

.sliderContainer {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-inline: auto;
  color: var(--clr-primary);
  margin-block-end: 3rem;

  @include breakpoint(md) {
    width: 70%;
  }
}
