@use '../../styles/abstracts' as *;

.sliderContainer {
  position: relative;
  height: 100%;

  svg {
    color: var(--clr-secondary);
  }
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-xtra-small);
  border-radius: var(--radius-medium);
  background-color: rgba(black, 0.8);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: px-to-rem-or-em(10px);

  p {
    max-width: 60ch;
    opacity: 1;
  }
}

.arrow {
  position: absolute;
  bottom: -60px;
  background-color: transparent;
  color: var(--clr-primary);
  width: px-to-rem-or-em(50px);
  aspect-ratio: 1;
  border-radius: var(--radius-round);
  cursor: pointer;
  padding: px-to-rem-or-em(10px);

  svg {
    font-size: px-to-rem-or-em(50px);
  }
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}

.dots {
  gap: var(--space-medium);
  position: absolute;
  bottom: -35px;
}
