@use '../../../styles/abstracts' as *;

.box {
  display: flex;
  flex-direction: column;
  gap: var(--space-large);
  margin-bottom: var(--space-medium);
}

.chart {
  box-shadow: var(--shadow-small);
  border-radius: var(--radius-small);
  width: 98%;
  aspect-ratio: 16 / 9;
  margin-inline: auto;
  padding: px-to-rem-or-em(40px) px-to-rem-or-em(20px);
}

.usersList {
  box-shadow: var(--shadow-small);
  background-color: var(--clr-primary);
  margin-inline: px-to-rem-or-em(10px);
  border-radius: var(--radius-small);

  p {
    padding: px-to-rem-or-em(20px) px-to-rem-or-em(10px);
  }
}
