@use '../abstracts' as *;

.center {
  @include center();
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-space, 3rem);
}

.wrapper {
  @include wrapper();
}

.btn {
  font-size: var(--fs-small);
  background-color: $clr-links;
  border-radius: var(--radius-xtra-small);
  border-color: transparent;
  padding: 0.3rem 0.7rem;
  color: inherit;
  transition: tranform 0.3s linear;

  @include hover() {
    &:not(:disabled):hover {
      background-color: $clr-links-hover;
    }
  }

  &:not(:disabled):active {
    transform: scale(0.98);
  }
}
