@use '../../../styles/abstracts' as *;

.dataTable {
  width: 100%;
  height: 500px;
}

.cellUserInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-small);
}

.cellImage {
  border-radius: var(--radius-round);
}

.cellActions {
  display: flex;
  align-items: center;
  gap: var(--space-small);

  button {
    background-color: transparent;
  }
}

.viewBtn {
  $clr: lighten(blue, 10%);
  border: 1px solid $clr;
  color: $clr;

  &:hover {
    background-color: $clr !important;
    color: var(--clr-primary);
    border: none;
  }
}

.delBtn {
  $clr: lighten(red, 10%);

  border: 1px solid $clr;
  color: $clr;
  &:hover {
    background-color: $clr !important;
    color: var(--clr-primary);
    border: none;
  }
}

.tableHeader {
  display: flex;
  align-items: center;
  gap: var(--space-large);

  form {
    margin-left: auto;
  }
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid lighten(black, 70%);
  border-radius: var(--radius-xtra-small);
  padding: px-to-rem-or-em(3px);

  input {
    background-color: transparent;
    border: none;
    caret-color: $clr-links-hover;

    &:is(:focus, :focus-visible) {
      outline: none;
      border: none;
    }
  }
}
