@use '../../../styles/abstracts' as *;

.list {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-large);
}
