@use '../../styles/abstracts/functions' as *;

.companyInfo {
  $space: px-to-rem-or-em(10px);
  display: flex;
  gap: $space;
  background-color: var(--clr-secondary);
  width: fit-content;
  padding: $space;
  border-radius: var(--radius-small);
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

.nameAndMotto {
  --flow-space: 0.2rem;

  p {
    width: fit-content;
    background-image: var(--gradient-primary);
    color: transparent;
    background-clip: text;
    font-size: var(--fs-xtra-small);
    opacity: 1;

    &:first-of-type {
      font-size: var(--fs-small);
    }
  }
}
