@use '../../styles/abstracts/mixins' as *;

.main {
  display: grid;
  place-content: center;
  padding: var(--space-small);

  @include breakpoint(md) {
    grid-template-columns: 1fr 2fr;
    place-content: unset;
    padding: 0;
  }

  @include breakpoint(lg) {
    grid-template-columns: 1fr 3fr;
  }
}
