@use '@/styles/abstracts' as *;

.form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: var(--space-small);
  border-radius: var(--radius-small);
  z-index: 20;
  background-color: var(--clr-primary);
  border: 2px solid var(--grey-600);

  p {
    text-align: center;
  }
}

.btnsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-large);
  margin-top: var(--space-large);

  button {
    width: 8rem;
    text-align: center;

    &:is(:focus, :focus-visible) {
      outline: 2px solid var(--clr-black);
    }

    &:active {
      transform: none;
    }

    &:first-of-type {
      background-color: lighten(blue, 10%);
      color: var(--clr-white);
      &:hover {
        background-color: lighten(blue, 15%);
      }
    }
    &:last-of-type {
      background-color: lighten(red, 10%);
      color: var(--clr-white);
      &:hover {
        background-color: lighten(red, 15%);
      }
    }
  }
}

.desc {
  font-size: var(--fs-medium);
}
